<div class="auth-wrapper">
    <form novalidate #loginForm="ngForm" class="auth-form" id="signup">
        <h1>Sign up</h1>
        <span>or <a routerLink="/auth/login">Log in</a></span> 
        <label for="auth-name">name:</label> 
        <input ngModel name="username" id="auth-name" type="text" required /> 
        <label for="auth-email">email:</label> 
        <input  ngModel name="email" id="auth-email" type="email" required /> 
        <label for="auth-password">password:</label> 
        <input ngModel name="password" id="auth-password" type="password" required /> 
        <button [disabled]="!loginForm.valid">submit</button>   
    </form>
</div>
